#add-btn {
  padding: 15px 30px;
  margin: 20px 10px;
  border: 0;
  border-radius: 10px;
  background: lightgreen;
}

#del-btn {
  padding: 15px 30px;
  margin: 20px 10px;
  border: 0;
  border-radius: 10px;
  background: red;
}

#water-label {
  position: absolute;
  font-size: 1.3rem;
  font-weight: bold;
  color: white;
  top: 50%;
}
