#routine-list {
  display: grid;
  grid-row: auto;
  gap: 3px;
}

.routine-item {
  display: flex;
  flex-direction: column;
  padding: 12px;
  background: #f8f9fa;
  border-radius: 8px;
  border: 2px solid #e9ecef;
  &:hover {
    transform: scale(1.02);
  }
}
