name: Deploy Tracker App

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up Node.js
        uses: actions/setup-node@v6
        with:
          node-version: '24'

      - name: Adding Secrets
        env:
          REACT_APP_ENV: prod
          REACT_APP_FIREBASE_CONFIG: ${{ secrets.REACT_APP_FIREBASE_CONFIG }}
        run: |
          if [ -z "$REACT_APP_FIREBASE_CONFIG" ]; then
            echo "::error::Secret 'Firebase Config' is missing or empty!"
            exit 1
          else
            echo "Secrets are found!"
          fi

      - name: Install dependencies
        run: npm install

      - name: Build the React app
        run: npm run build

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: build
